<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="/images/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta name="google" content="notranslate">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preload" rel="stylesheet" as="style" href="/stylesheets/highlight.js-github.min.css" onload="this.rel='stylesheet'" >
        <link rel="preload" href='/stylesheets/style.css' as="style" onload="this.rel='stylesheet'">

        <noscript>
            <link rel="stylesheet" href="/stylesheets/highlight.js-github.min.css">
            <link rel="stylesheet" href='/stylesheets/style.css'>
        </noscript>

          {{> criticalcss }}

    </head>

    <body class="pu-prevent-scrolling pu-state-currentlayout-app" id="content" cz-shortcut-listen="true">

        {{{body}}}
        <script defer>

            window.onload = function() {
              init();
            };

            //load fonts async
            function init() {

                if(document.fonts) {
                  // Define a new FontFace
                  const proximaNova = new FontFace("proxima-nova","url(./fonts/proxima-nova/regular/ProximaNova-Regular.woff), url(/fonts/proxima-nova/regular/ProximaNova-Regular.eot?#iefix)");

                  const partupFont = new FontFace("proxima-nova","url(/fonts/icons/partup-icons.woff2?v=1481721394166), url(/fonts/proxima-nova/regular/ProximaNova-Regular.eot?#iefix)");

                  let partupFontElements = document.querySelectorAll('.partup-font');
                  // Add the FontFace to the FontFaceSet
                  document.fonts.add(partupFont);
                  document.fonts.add(proximaNova);
                  proximaNova.load();
                  partupFont.load();

                  // Wait until the font has been loaded, log the current status.
                      proximaNova.loaded.then((fontFace) => {

                        // Add a class to the elements

                      for (let i = 0; i < partupFontElements.length; i++) {
                         partupFontElements[i].classList.add('loaded');
                      }

                      document.body.classList.add('proximaNova-loaded');

                  // Throw an error if loading wasn't successful
                  }, (fontFace) => {
                      console.error('Current status', proximaNova.status);
                  });

                  // Track if all fonts (if there are multiple) have been loaded
                  // The 'ready' promise resolves if this is the case
                  document.fonts.ready.then((fontFaceSet) => {
                      console.log(fontFaceSet.size, 'FontFaces loaded.');
                  });

                } else {
                    console.error('Sorry, unsupported browser');
                }
            }

        </script>
        <script type="text/javascript" src="http://www.google-analytics.com/analytics.js"  defer=""></script>
        <script type="text/javascript" src="//www.googletagmanager.com/gtm.js?id=GTM-PPQ3WW"></script>
        <script type="text/javascript" src="http://www.google-analytics.com/analytics.js"  defer=""></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropbox.js/2.5.0/Dropbox-sdk.min.js" defer=""></script>
        <script type="text/javascript" src="https://apis.google.com/js/api.js" defer></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"  defer=""></script>
        <script type="text/javascript" src="javascripts/lazyloading.js" defer=""></script>

    </body>
</html>
