

<main class="pu-main">
        <div class="pu-app pu-app-responsive pu-app-home">

        <!-- Header -->
        <header class="pu-header pu-header-desktop pu-header--is-transparent">

            <ul class="pu-list pu-list-horizontal pu-list-with-right-items">
        <li class="pu-sub-logo"><a href="/">
        <h1>
            <span>Part-up</span>
            <figure class="pu-brand"></figure>
        </h1>
    </a></li>
        <li class="pu-sub-tribes">
        <a href="/discover" class="pu-button pu-button-header pu-button-header-text">Discover</a>
    </li>

            <li class="pu-sub-more pu-sub-more-loggedout pu-sub-align-right"><button class="pu-button pu-button-header pu-button-header-text" data-toggle-menu="menu">
        <i class="picon-globe"></i> Nederlands <i class="picon-caret-slim-down"></i>
    </button>
  {{!--   <div class="pu-dropdown pu-dropdown-simple pu-dropdown-more" data-clickoutside-close="">
        <ul class="pu-list pu-home-languageselector">
        <li><a data-language="nl" href="#">Nederlands <i class="picon-check"></i></a></li>
        <li><a data-language="en" href="#">English </a></li>
    </ul>
    </div> --}}</li>

        <li class="pu-sub-align-right">
            <a href="/login" class="pu-button pu-button-header pu-button-header-text" data-login="">Inloggen</a>
        </li>
    </ul>

    </header>

        <!-- Page -->
        <!-- refresh=currentUserId triggers a reload/rerender of the app template when the loggedin user changes -->
        <article class="pu-page pu-home">
        <div class="pu-home__block pu-home__header pu-home__block--is-active">
            <div class="pu-home-header" data-header="">
        <div class="pu-home-header__content">
            <div class="pu-centerview">
        <div class="pu-centerview__vertical-center">
            <div class="pu-centerview__horizontal-center">

                <h2 class="pu-title pu-title-serif pu-title-home">
                    <span>Talent ontdekken en verbinden</span>
                </h2>
                <p class="pu-home-header__text pu-paragraph-inverted">Iedereen heeft uniek talent. Hoe help je dit talent het juiste werk te vinden? Part-up verbindt talent in tijdelijke teams. Binnen en tussen organisaties en communities.</p>

                <div class="pu-home-calltoaction">
        <form data-register-form="" class="pu-home-calltoaction__form">
            <input data-register-email="" class="pu-home-calltoaction__form__input pu-input" type="email" placeholder="E-mailadres">
            <button data-register-button="" class="pu-home-calltoaction__form__button pu-button-2" type="button">Meld je gratis aan!</button>
        </form>
        <p class="pu-home-calltoaction__description">Gebruikt jouw organisatie Part-up al? <a href="/discover">Vind jouw tribe.</a></p>
    </div>
{{!--
                <button class="pu-button-2 pu-button-2--secondary pu-home-header__button" data-what-is-partup=""><span>Wat is Part-up?</span><i class="picon-caret-slim-down"></i></button> --}}

            </div>
        </div>
    </div>
        </div>
    </div>
        </div>

            <div data-home-intro="" class="pu-home__block pu-home__intro">
                <div class="pu-home-intro">
        <div class="pu-home-wrap">
            <div class="pu-home-block pu-home-textblock">
                <h2 class="pu-home-subtitle pu-home-textblock__title"><span>Wat is Part-up?</span></h2>
                <p class="pu-home-textblock__paragraph">De traditionele organisatie is op zijn retour. We organiseren onszelf steeds meer in krachtige en wendbare netwerken. Het is de uitdaging om steeds snel het juiste gemotiveerde talent met elkaar te verbinden om projecten te realiseren.</p>
                <p class="pu-home-textblock__paragraph">Part-up maakt het werk toegankelijk, zodat talenten van binnen en buiten jouw organisatie mee kunnen doen. Benut talenten van collega’s, flexibele schil, communityleden en van mensen waar je anders nooit mee zou werken. Werk flexibel samen in tijdelijke teams met de mensen die jij vertrouwt.</p>
            </div>
            <div class="pu-home-block pu-home-intro__video">
                <div class="pu-video">
        <figure style="background-image:url(/images/closed_network_video.png);" alt="" data-play=""></figure>

    </div>
            </div>
        </div>
    </div>
            </div>
            <div data-home-segments="" class="pu-home__block pu-home__segments">
                <div class="pu-home-segments">

        <div class="pu-home-wrap pu-home-segments__wrapper">
            <div class="pu-home-block pu-home-textblock pu-home-textblock-secondary pu-home-segments__segment">
                <h2 class="pu-home-textblock__title"><span>Wil je een community bouwen?</span></h2>
                <p class="pu-home-textblock__paragraph">Nodig je organisatie, community of netwerk uit voor het bouwen van een eigen tribe. Start tijdelijke teams binnen deze tribe. Vind geschikte en gemotiveerde talenten om de gezamenlijke doelen te realiseren. </p>
                <a href="https://blog.part-up.com/tribe-aanvragen" target="_blank" class="pu-button-2 pu-home-segments__button"><span>Start een tribe</span></a>
            </div>
            <div class="pu-home-segments__divider"></div>
            <div class="pu-home-block pu-home-textblock pu-home-textblock-secondary pu-home-segments__segment">
                <h2 class="pu-home-textblock__title"><span>Wil je aansluiten bij een community? </span></h2>
                <p class="pu-home-textblock__paragraph">Benut jouw talent. Ontdek welke tribes bij jou passen en sluit je aan! Kies binnen een tribe met welke teams je wilt werken of start een eigen part-up voor jouw idee.</p>
                <button data-segment-search-button="" class="pu-button-2 pu-home-segments__button"><span>Zoek een tribe</span></button>
            </div>
        </div>

    </div>
            </div>
            <div data-home-carousel="" class="pu-home__block pu-home__carousel">
                <div class="pu-home-carousel" data-carousel="" style="height: 552px;">
        <div class="pu-home-carousel__slide pu-home-carousel__slide--left" data-carousel-slide="">
            <div class="pu-home-wrap">
                <div class="pu-home-block pu-home-textblock">
                    <h2 class="pu-home-textblock__title pu-home-subtitle"><span>Ontdek tribes en part-ups</span></h2>
                    <p class="pu-home-textblock__paragraph">Vind passend werk. Kies interessante communities of organisaties (tribes) om lid van te worden. Ontvang persoonlijke suggesties voor tijdelijke teams (part-ups), waarin je met jouw talent kunt bijdragen. </p>
                </div>
            </div>
        </div>
        <div class="pu-home-carousel__slide pu-home-carousel__slide--left" data-carousel-slide="">
            <div class="pu-home-wrap">
                <div class="pu-home-block pu-home-textblock">
                    <h2 class="pu-home-textblock__title pu-home-subtitle"><span>Agile werken in projecten</span></h2>
                    <p class="pu-home-textblock__paragraph">Bepaal samen wat er moet gebeuren. Kies welke bijdrage jij daaraan wilt leveren. Werk met elkaar in verbinding, zelfs op afstand.</p>
                </div>
            </div>
        </div>
        <div class="pu-home-carousel__slide pu-home-carousel__slide--is-active" data-carousel-slide="">
            <div class="pu-home-wrap">
                <div class="pu-home-block pu-home-textblock">
                    <h2 class="pu-home-textblock__title pu-home-subtitle"><span>Altijd verbonden via chat</span></h2>
                    <p class="pu-home-textblock__paragraph">Communiceren zonder e-mail. Met de hele tribe, met je team en 1-op-1. Bepaal wat jij wilt ontvangen en reageer direct via je smartphone of tablet.</p>
                </div>
            </div>
        </div>
        <div class="pu-home-carousel__slide pu-home-carousel__slide--right" data-carousel-slide="">
            <div class="pu-home-wrap">
                <div class="pu-home-block pu-home-textblock">
                    <h2 class="pu-home-textblock__title pu-home-subtitle"><span>Overzicht over projecten</span></h2>
                    <p class="pu-home-textblock__paragraph">Maak meedoen laagdrempelig. Ontdek welke teams er op dit moment actief zijn. Houd het overzicht. Heb je een goed idee? Start direct een eigen team.</p>
                </div>
            </div>
        </div>
        <figure data-carousel-slide-image="" class="pu-home-carousel__image" style="background-image: url('/images/home-slides/ontdek.png');"></figure>
        <figure data-carousel-slide-image="" class="pu-home-carousel__image" style="background-image: url('/images/home-slides/agile.png');"></figure>
        <figure data-carousel-slide-image="" class="pu-home-carousel__image pu-home-carousel__image--is-active" style="background-image: url('/images/home-slides/chat.png');"></figure>
        <figure data-carousel-slide-image="" class="pu-home-carousel__image" style="background-image: url('/images/home-slides/projecten.png');"></figure>
        <div class="pu-home-carousel__buttons">
            <button class="pu-home-carousel__buttons__button" data-carousel-arrow-left="">
                <i class="picon-caret-slim-left"></i>
            </button>
            <button class="pu-home-carousel__buttons__button" data-carousel-arrow-right="">
                <i class="picon-caret-slim-right"></i>
            </button>
        </div>
        <ul class="pu-home-carousel__navigation" data-carousel-navigation="">
            <li class="pu-home-carousel__navigation__dot" data-carousel-dot="0"></li>
            <li class="pu-home-carousel__navigation__dot" data-carousel-dot="1"></li>
            <li class="pu-home-carousel__navigation__dot pu-home-carousel__navigation__dot--is-active" data-carousel-dot="2"></li>
            <li class="pu-home-carousel__navigation__dot" data-carousel-dot="3"></li>
        </ul>
        <div class="pu-home-carousel__appstore-buttons">
            <a href="https://itunes.apple.com/nl/app/part-up/id1113368434?mt=8" target="_blank" class="pu-home-carousel__appstore-buttons__button"><img src="/images/home-slides/appstore.png" alt="appstore"></a>
            <a href="https://play.google.com/store/apps/details?id=com.partup.app&amp;hl=nl" target="_blank" class="pu-home-carousel__appstore-buttons__button"><img src="/images/home-slides/playstore.png" alt="playstore"></a>
        </div>
    </div>
            </div>
            <div data-home-products="" class="pu-home__block pu-home__products">

        <div class="pu-home-products">

                <div class="pu-home-wrap">
                    <h2 class="pu-home-subtitle pu-home-products__title">Wat betekent Part-up voor jouw organisatie?</h2>
                    <ul class="pu-home-products__navigation">
                        <li class="pu-home-products__navigation__item"><button class="pu-home-products__navigation__button pu-home-products__navigation__button--is-active" data-switch-tab="1"><span>Toepassing 1: Intern innoveren</span></button></li>
                        <li class="pu-home-products__navigation__item"><button class="pu-home-products__navigation__button" data-switch-tab="2"><span>Toepassing 2: Krachtig organiseren</span></button></li>
                        <li class="pu-home-products__navigation__item"><button class="pu-home-products__navigation__button" data-switch-tab="3"><span>Toepassing 3: Onbegrensd samenwerken</span></button></li>
                    </ul>
                </div>
                <div class="pu-home-wrap pu-home-products__tab">

                        <div class="pu-home-block">
                            <figure class="pu-home-figure" style="background-image: url('images/home-slides/home-products-solution-1-image.png');"></figure>
                        </div>
                        <div class="pu-home-block pu-home-textblock pu-home-products__tab__content">
                            <h2 class="pu-home-textblock__title-small"><span>Hiërarchische organisaties in beweging brengen</span></h2>
                            <p class="pu-home-textblock__paragraph">Centraal Beheer Achmea wil met hun klanten innovatie co-creëren. Zij nodigen relaties uit, om via Part-up samen projecten te realiseren. Er ontstaat een hecht netwerk van medewerkers en klanten, dat samen nieuwe dienstverleningsconcepten uitwerkt.</p>
                            <p class="pu-home-textblock__paragraph">Ook ministeries, gemeenten, zorg- en onderwijsorganisaties gebruiken Part-up om intern en extern talent te vinden. Medewerkers krijgen ruimte om naast hun vaste functie tijd aan innovatieprojecten te besteden. Geselecteerde externen krijgen toegang tot interessante projecten.</p>
                            <h3 class="pu-home-textblock__subtitle">Deze organisaties organiseren zich met Part-up flexibeler:</h3>
                            <ul class="pu-home-textblock__horizontal-list pu-list pu-list-horizontal">
                                <li><img src="images/projectpartners/logo-cb-achmea.png" alt=""></li>
                                <li><img src="images/projectpartners/logo-min-financien.png" alt=""></li>
                                <li><img src="images/projectpartners/logo-philadelphia.png" alt=""></li>
                            </ul>
                        </div>



                </div>

        </div>

            </div>
            <div data-home-form="" class="pu-home__block pu-home__form">

            </div>
            <div data-home-footer="" class="pu-home__block pu-home__footer">
                <div class="pu-home-footer">
        <div class="pu-home-footer__links">
            <div class="pu-home-wrap">

                    <ul class="pu-list pu-list-horizontal pu-list-with-right-items">
                        <li class="pu-home-footer__list">
                            <ul class="pu-list pu-home-links">
                                <li class="pu-home-links__title">Part-up</li>
                                <li class="pu-home-links__link"><a href="https://blog.part-up.com" target="_blank">Blog</a></li>
                                <li class="pu-home-links__link"><a href="/about">Over Part-up</a></li>
                                <li class="pu-home-links__link"><a href="/about">Contact</a></li>
                            </ul>
                        </li>
                        <li class="pu-home-footer__list">
                            <ul class="pu-list pu-home-links">
                                <li class="pu-home-links__title">Apps</li>
                                <li class="pu-home-links__link"><a href="https://itunes.apple.com/nl/app/part-up/id1113368434?mt=8" target="_blank">iOS</a></li>
                                <li class="pu-home-links__link"><a href="https://play.google.com/store/apps/details?id=com.partup.app&amp;hl=nl" target="_blank">Android</a></li>
                                <li class="pu-home-links__link"><a href="https://part-up.com/tribes/development">Developers</a></li>
                            </ul>
                        </li>
                        <li class="pu-home-footer__list">
                            <ul class="pu-list pu-home-links">
                                <li class="pu-home-links__title">Support</li>
                                <li class="pu-home-links__link"><a href="#" data-help-intercom="">Chat met ons</a></li>
                                <li class="pu-home-links__link"><a href="https://drive.google.com/open?id=1g18oP6kz7FHej-eTLOFanEdcwCZPGNE1ugrmFeIAibY" target="_blank">FAQ</a></li>
                                <li class="pu-home-links__link"><a href="/partups/part-up-samen-verbeteren-tfcFsqRnTTg7n3hsc">Deel je feedback</a></li>
                            </ul>
                        </li>
                        <li class="pu-sub-align-right pu-home-footer__list">
                            <ul class="pu-list pu-home-links">
                                <li class="pu-home-links__title">Weet ons te vinden</li>
                                <li class="pu-home-links__item">Part-up</li>
                                <li class="pu-home-links__item">Spaarneplein 2</li>
                                <li class="pu-home-links__item">2515 VK Den Haag</li>
                                <li class="pu-home-links__item">+31 6 10 03 50 01</li>
                            </ul>
                        </li>
                    </ul>

            </div>
        </div>
        <div class="pu-home-footer__socials">
            <div class="pu-home-wrap">
                <ul class="first pu-list pu-list-horizontal pu-home-links pu-home-footer__socials__links">
                    <li class="pu-home-links__link"><a href="https://terms.part-up.com" target="_blank">Gebruikersvoorwaarden</a></li>
                    <li class="pu-home-links__link"><a href="https://privacy.part-up.com" target="_blank">Privacybeleid</a></li>
                </ul>
                <ul class="second pu-list pu-list-horizontal pu-list-with-right-items pu-home-links pu-home-footer__socials__links">
                    <li class="pu-sub-align-right pu-home-links__icon"><a href="https://www.facebook.com/partupcom" target="_blank"><i class="picon-facebook"></i></a></li>
                    <li class="pu-sub-align-right pu-home-links__icon"><a href="https://twitter.com/partupnl" target="_blank"><i class="picon-twitter"></i></a></li>
                    <li class="pu-sub-align-right pu-home-links__icon"><a href="https://www.linkedin.com/company/part-up" target="_blank"><i class="picon-linkedin"></i></a></li>
                    <li class="pu-sub-align-right pu-home-links__icon"><a href="https://www.instagram.com/partupcom/" target="_blank"><i class="picon-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
            </div>

    </article>

        <!-- Footer -->


    </main>
    <section class="pu-overlay" data-overlay-dismiss="">

            <article class="pu-popup">
                <header>
                    <h4>

                    </h4>
                    <button class="pu-button pu-button-close" data-dismiss=""><i class="picon-times"></i></button>
                </header>
                <article>

                </article>
            </article>

    </section>
    <section class="pu-overlay">
        <article class="pu-popup pu-popup-prompt">
            <header>
                <h4></h4>
            </header>
            <article>
                <div class="pu-sub-content">
                    <section>
                        <p></p>
                    </section>

                </div>
            </article>
        </article>
    </section>
    <div class="pu-hovercontainer

 pu-position-right pu-position-bottom" data-card="">
        <span></span>

    </div>


    <section class="pu-overlay pu-overlay-connectionstatus">
        <section>
            <article class="pu-connectionstatus">
                <p>
                    <i class="picon-warning"></i>
                    <span class="pu-sub-message">Verbonden</span>
                    <span class="pu-sub-countdown"></span>

                </p>

            </article>
        </section>
    </section>


    <!-- Make the popup really empty after close -->


    <!-- Google Tag Manager -->
    <noscript>&lt;iframe src="//www.googletagmanager.com/ns.html?id=GTM-PPQ3WW" height="0" width="0" style="display:none;visibility:hidden"&gt;&lt;/iframe&gt;</noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PPQ3WW');</script>
    <!-- End Google Tag Manager -->

    <!-- Start Visual Website Optimizer Asynchronous Code -->
    <script type="text/javascript">
        var _vwo_clicks=20; //this will track first 20 clicks: https://vwo.com/knowledge/increase-clicks-for-heatmap/
        var _vwo_code=(function(){
        var account_id=255323,
        settings_tolerance=3000,
        library_tolerance=3500,
        use_existing_jquery=false,
        // DO NOT EDIT BELOW THIS LINE
        f=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&r='+Math.random());return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();
    </script>
    <!-- End Visual Website Optimizer Asynchronous Code -->
